
{{ define "main" }}
  {{ partial "breadcrumb.html" . }}
  <h6>{{ .Params.ort }}, {{ .Date.Format "02.01.2006" }} </h6>
  <h2>{{ .Params.Title }}</h2>
  <p class="bd-lead"></p>
  <h3>{{ .Params.Description }}</h3>
  <div class="d-flex flex-column flex-sm-row">
    <p class="bd-lead"> 
      {{ if .Params.dlpressemitteilung }}
        <a href="{{ .Params.dlpressemitteilung | relURL }}" class="btn btn-lg btn-primary mt-3 mt-sm-0 ms-sm-3" onclick="ga('send', 'event', 'Examples', 'Hero', 'Download');">Download Pressemitteilung (PDF)</a>
      {{ end }}
    </p>
  </div>
  {{ if .Params.toc | default true }}
    <div class="toc-wrapper mb-4">
        <button class="btn-light btn d-flex justify-content-between align-items-center w-100" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#collapseToC" 
                aria-expanded="false" 
                aria-controls="collapseToC"
                style="font-weight: bold; ">
            <span>Inhaltsverzeichnis</span>
            <span class="dropdown-toggle"></span>
        </button>

        <div class="collapse" id="collapseToC">
            <div class="card card-body mt-2 breadcrumb" style="border-color: #cef4be; background-color: #fdfdfd;">
                <nav id="TableOfContents">
                    {{ .TableOfContents }}
                </nav>
            </div>
        </div>
    </div>
  {{ end }}
  <div>
    {{ .Content }}
  </div>
 {{ end }}

