<div class="container text-center text-md-start">
    <div class="row">
        <div class="col-md-6">
            <p class="mb-0"><strong>Landeselternkonferenz NRW</strong><br>
            Christian Beckmann<br>
            Rhedaer Straße 73, 33334 Gütersloh</p>
            <p>Copyright {{ now.Year }}. All rights reserved.</p>
        </div>
        <div class="col-md-6 text-md-end mt-3 mt-md-0">
            <a href="/impressum" class="text-muted text-decoration-none me-3">Impressum</a>
            <a href="/datenschutz" class="text-muted text-decoration-none">Datenschutz</a>
        </div>
    </div>
</div>
