<div class="container text-center text-md-start">
    <div class="row">
        <div class="col-md-6">
            <p class="mb-0"><strong>{{ .Site.Params.impressum1 }}</strong><br>
            {{ .Site.Params.impressum2 }}<br>
            {{ .Site.Params.impressum3 }}<br>
            {{ .Site.Params.impressum4 }}<br>
            {{ .Site.Params.impressum5 }}</p>
            <p>Copyright {{ now.Year }}. All rights reserved.</p>
        </div>
        <div class="col-md-6 text-md-end mt-3 mt-md-0">
            {{ if .Site.Menus.footer }} 
                {{ range .Site.Menus.footer }} 
                        <a href="{{ .URL }}"class="text-muted text-decoration-none me-3">{{ .Name }}</a>
                {{ end }} 
            {{ end }}
        </div>
    </div>
</div>
